.Home{
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.Home__Pricing__Section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home__Pricing__Title{}

.Home__PriceProduct__Grid{
  flex-grow: 1;
  margin-left: 90px;
  margin-right: 90px;
}