.Home{
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.Home__Pricing{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home__Pricing__Title{}

.Home__PriceProduct__Grid{
  /* display: flex; */
}

.Home__Contact__Grid{
  display: flex;
  background-color: #3f464b;
}