.columns {
  width: 100%;
  margin: 8px;
  border-radius: 20px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header__Basic {
  background-color: #40C9EF;
  color: white;
  font-size: 25px;
}

.price .header__Pro {
  background-color: #40ef46;
  color: white;
  font-size: 25px;
}

.price .header__Premium {
  background-color: #eb211a;
  color: white;
  font-size: 25px;
}

.price li {
  padding: 20px;
  text-align: center;
}

.price .grey {
  font-size: 20px;
}

.button {
  background-color: #266FF9;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}